<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="singUpForm"
      (ngSubmit)="onSingUp()"
      >
        <div class="form-group">
          <label for="UserName">UserName <sup>*</sup></label>
          <input 
          formControlName="UserName"


          type="text" class="form-control">
<small
*ngIf="userName.touched && userName.hasError('required')"
class="text-danger"> 
  username is a required field!!!
</small>
<small class="text-danger"
*ngIf="userName.dirty && userName.hasError('minlength')"
> min length of userName should be {{userName.errors?.['minlength'].requiredLength}} and the actual length is 
{{userName.errors?.['minlength'].actualLength}}</small>

<small class="text-danger" *ngIf="userName.dirty && userName.hasError('maxlength')">min length of username is should be 12</small>

<small class="text-danger"
*ngIf="userName.hasError('pattern')"
>
use letters only numbers or special charactors are allowed!!!
</small>

<small class="text-danger" 
*ngIf="userName.hasError('npSpaceBar')"
>
space is not allowed in usernae
</small>
         </div>
        <div class="form-group">
          <label for="Email">Email <sup>*</sup></label>
          <input
          formControlName="email"
          type="text" class="form-control">
          <small class="text-danger"
          *ngIf="formControls['email'].touched && formControls['email'].hasError('required') "
          >email is required field!!</small>
          <small class="text-danger"
          *ngIf="formControls['email'].dirty&& formControls['email'].hasError('pattern')"
          >
        plz Enter valid email Id(gaju@gmail.com)</small>

        </div>
        <div class="form-group">
          <label for="EmpId">EmpId</label>
          <input
          placeholder="E123"
          formControlName="empId"
          type="text" class="form-control">
        </div>
<small class="text-danger"
*ngIf="formControls['empId'].dirty && formControls['empId'].hasError('inValidEmp')"
>
{{formControls['empId'].errors?.['inValidEmp']}}

</small>

        <button type="submit" class="btn-block" mat-raised-button color="primary">SingUp</button>
      </form>
    </div>
  </div>
</div>